/* Coolors Exported Palette - coolors.co/dfc5e2-f7f7ff-71525c-8d909b-a7acb0 */

/* HSL */
$color1: hsla(294%, 33%, 83%, 1);
$color2: hsla(240%, 100%, 98%, 1);
$color3: hsla(341%, 16%, 38%, 1);
$color4: hsla(227%, 7%, 58%, 1);
$color5: hsla(207%, 5%, 67%, 1);

/* RGB */
$color1: rgba(223, 197, 226, 1);
$color2: rgba(247, 247, 255, 1);
$color3: rgba(113, 82, 92, 1);
$color4: rgba(141, 144, 155, 1);
$color5: rgba(167, 172, 176, 1);